/* =========================
   SIDEBAR
========================= */
.sidebar {
    width: 240px;
    background: #000;
    min-height: 100vh;
    position: fixed;
    border-right: 2px solid #FFD700;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    padding: 20px;
    color: #FFD700;
    border-bottom: 1px solid #222;
    font-size: 1.3rem;
}

.sidebar-profile {
    text-align: center;
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.sidebar-profile img.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ffd700;
    transition: 0.3s;
}

.sidebar-profile img.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,215,0,0.7);
}

.sidebar-profile h5 {
    color: #ffd700;
    margin: 10px 0 5px;
    font-weight: 500;
}

.sidebar-profile p {
    font-size: 0.9rem;
    color: #fff;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 15px 22px;
    text-decoration: none;
    border-bottom: 1px solid #111;
    transition: 0.3s;
    font-weight: 500;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background: #FFD700;
    color: #000;
    padding-left: 28px;
    transition: 0.3s;
}
